@CHARSET "UTF-8";
h1 {
	color: blue;
}

.myClass {
	color: red;
	font-family:宋体;
	font-style: italic;
}

.myClass2 {
	color: pink;
	text-decoration: underline;
}

#id001 {
	color:yellow;
	font-family: 微软雅黑;
	font-weight: bold;
}


ol li {
	color: orange;
	font-family:宋体;
	font-style: italic;
}

ul li {
	color: red;
	font-family:隶书;
	font-style: italic;
}


p.pt{
	color: red;
	font-family:宋体;
	font-style: italic;
}
.font-family {
	font-family: 微软雅黑;
}
.font-style{
	font-style: italic;
}
.font-style2{
	font-style: oblique;
}

.font-variant{
	font-variant: small-caps;
}

.font-size{
	font-size: x-small;
}

.text-transform{
	text-transform: uppercase;
}
.text-transform2{
	text-transform: lowercase;
}
.text-transform3{
	text-transform: capitalize;
}

.text-decoration{
	text-decoration:underline;
}
.text-decoration2{
	text-decoration:overline;
}
.text-decoration3{
	text-decoration:line-through;
}
.text-decoration4{
	text-decoration:blink;
}

.word-spacing{
	word-spacing:20px;
}

.letter-spacing{
	letter-spacing:30px;
}

.line-height{
	line-height: 50px;
}

.text-align{
	text-align: center;
}
.text-align2{
	text-align: left;
}
.text-align3{
	text-align: right;
}
.text-align4{
	text-align: justify;
}

.text-indent{
	text-indent: 25%;
}

.background-image{
	background-image:url("../Images/dm.jpg");
	background-repeat: no-repeat;
}

